@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@600&display=swap');

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    background: #343a40;
    font-family: 'Merriweather';
    text-align: center;
    padding: 0;
    margin-top: 0px;
    margin: 0px;
    outline: none;
    margin-bottom: 0px;
}

.the_buttons{
    height: 60px;
    background-color: #f4623a;
}

.home_button .btn {
    position: absolute;
    top: 30px;
    left: 75px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

h1{
    color: #fff;
    font-size: 30px;
}

h3{
    color: #fff;
    font-size: 20px;
}